#Pycharm
.idea/*

# python (any depth)
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
logs/


# MACos
*.DS_Store

# project
data/*
data.zip
archives/*

Figures/*
tests/pipeline/data/
.env
REORG_PLAN.md


